@mixin bar-widget {
  @include widget($padding: 3px 20px);
  background-color: $bg2;

}

.bar {
  .widget {
    font-family: "JetBrains Mono";
    background-color: $bg;
    color: $fg;
    box-shadow: 0 0 5px 0 rgba(black, 0.5);
    padding: 5px;
    margin: 10px 10px 10px 10px;
    border-radius: 30px;
  }



  .workspaces {
    @include bar-widget;

    .workspace {
      border-radius: 3rem;


      &.active {
        background: $blue;
        min-width: 24px;
        min-height: 14px;
        border-radius: 1rem;
      }

      &.occupied {
        background: lighten($bg, 50);
        min-width: 10px;
        min-height: 10px;
      }

      &.empty {
        background: transparentize($fg, 0.8);
        min-width: 8px;
        min-height: 8px;

      }
    }
  }

  .updates {
    font-weight: bold;
    margin: 0 1rem;
    @include bar-widget;
  }

  .tray {
    margin: 0 2rem;
  }



  .time {
    font-weight: bold;
  }

  .indicator {
    @include bar-widget;
    font-weight: bold;
    font-size: 1.1rem;

    .containter {
      padding: 3px 20px;
    }

    &:hover {
      background-color: $blue;
      color: $bg2;
      transition: all 0.2s ease-in-out;
    }
  }





}