.dashboard {
  font-family: "Roboto", sans-serif;

  .powermenu,
  .volume {
    box-shadow: $shadow
  }

  .powermenu {
    background-color: $bg;
    margin: 8px;

    padding: 13px 18px;
    border-radius: 35px;

    button {
      background-color: $bg2;
      padding: 8px 30px;
      font-size: 25px;
      border-radius: 35px;

      &:hover {
        background-color: lighten($bg2, 7);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .volume {
    background-color: $bg;
    margin: 8px;
    border-radius: $radius;
    padding: 10px;
    min-width: 50px;
    border-radius: 35px;

    .metric scale trough {
      min-width: 250px;
    }
  }
}
