$dashboard-radius: 2.7rem;

.dashboard {
  font-family: "Roboto", sans-serif;

  .powermenu {
    @include widget($dashboard-radius);
    margin: 8px;

    padding: 1rem 1.1rem;

    button {
      background-color: $bg2;
      padding: 8px 30px;
      font-size: 1.4rem;
      border-radius: 35px;

      &:hover {
        background-color: lighten($bg2, 7);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .volume {
    @include widget($dashboard-radius);
    padding: 0.8rem;
    margin: 8px;
    min-width: 50px;
    border-radius: 35px;

    .metric scale trough {
      min-width: 250px;
    }
  }
}