* {
    all: unset;
    font-family: "JetBrains Mono";
}

$fg: #c6c8d1;
$fg2: #FFFCFA;
$bg: #1a1b26;
$bg2: #24283b;
$bg-alt: #545454;


$red: #f7768e;
$orange: #ff9e64;
$blue: #7aa2f7;
$purple: #bb9af7;
$green: #9ece6a;

.bar {
    margin: 10px 10px 0 15px;
}

.workspace_active {
    color: $fg2;
}

.workspace_inactive {
    color: $fg;
}

.workspace_occupied {
    color: $fg2;
}

.container {
    background-color: $bg;
    padding: 3px 20px;
    border-radius: 12px;
    margin: 0 5px;
}


.cal {
    border-radius: 11px;
    background-color: $bg;
    font-family: JetBrainsMono Nerd;
    font-size: 15px;
    font-weight: normal;

    .cal-in {
        border-radius: 11px;
        padding: 15px;
        color: $fg;

        .cal {
            &.highlight {
                padding: 20px;
            }

            padding: 5px 5px 5px 5px;
            margin-left: 10px;
        }
    }
}

calender {
    color: $fg;
    padding-top: 10px;
}

calendar:selected {
    color: $blue;

}

calendar.header {
    color: $fg2;
    font-weight: bold;
}

calendar.button {
    color: #afbea2;
}

calendar.highlight {
    color: #FFFCFA;
    font-weight: bold;
}


.song {
    font-weight: bold;
}

.song_btn_play {
    margin: 3px 0px 0px 5px;
}

.song_btn_prev,
.song_btn_next {
    color: $fg;
    margin: 3px 0px 0px 5px;
}

.song_btn_pause {
    margin-top: 2px;
    font-size: 20px;

}

.song_btn_play {
    font-size: 20px;
    margin-top: 1px;
}


.speaker_btn {
    font-size: 20px;
    margin-top: 2px;
    margin-right: 5px;
    color: $blue
}

.mic_btn {
    font-size: 24px;
    margin-top: 0px;
    margin-left: 5px;
    color: $purple
}

.poweroff_btn {
    color: $red;
    font-size: 17px;
    margin-right: 4px
}

.metric scale trough highlight {
    all: unset;
    background-color: $blue;
    color: $bg;
    border-radius: 10px;
}


.metric scale.volume trough highlight {
    all: unset;
    background-color: $orange;
    color: $red;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: $bg-alt;
    border-radius: 50px;
    min-height: 5px;
    min-width: 100px;
    margin-left: 20px;
    margin-right: 0px;
}

.dashboard {
    background-color: $bg;
    min-width: 320px;
    padding: 20px 10px;
    border-radius: 11px;

}

.dashboard_hour {
    font-size: 30px;
}

.mem_bar {
    color: $orange;
    background-color: $bg-alt;
    border-radius: 10px;
    min-height: 100px;
}


.cpu_bar {
    color: $purple;
    background-color: $bg-alt;
    border-radius: 10px;
    min-height: 100px;
}


.cpu_info {
    background-color: $bg2;
    min-height: 100px;
    padding: 12px;
    border-radius: 11px;
    margin: 5px;
}


.mem_info {
    margin: 5px;
    background-color: $bg2;
    min-height: 60px;
    padding: 12px;
    border-radius: 11px;
    min-height: 100px;
}

.mem_icon {
    font-size: 20px;
    margin-right: 3px;
}

.cpu_icon {
    font-size: 25px;
    margin-right: 3px;
}

.menu {
    background-color: $bg;
    padding: 3px 20px;
    border-radius: 12px;
    margin: 0 5px;
    color: $purple;
    font-size: 20px;
}

.dashboard .volume_box,
.mic_volume_box {
    background-color: $bg2;
    margin: 8px;
    border-radius: 11px;
    padding: 10px;
    min-width: 50px;
}

.dashboard .metric scale trough {
    min-width: 250px;
}


.mic_volume_box>.metric scale trough highlight {
    all: unset;
    background-color: $purple;
    color: $bg;
    border-radius: 10px;
}

.updates {
    color: $green;
}