.bar {
  .widget {
    margin-bottom: 10px;
    font-family: "JetBrains Mono";
    background-color: $bg;
    color: $fg;
    box-shadow: 0 0 5px 0 rgba(black, 0.5);
    padding: 5px;
    margin: 10px 10px 10px 10px;
    border-radius: 30px;
  }
}

.workspace {
  .active {
    color: $fg2;
  }

  .inactive {
    color: $fg;
  }

  .occupied {
    color: $fg2;
  }
}

.song {
  .play {
    font-size: 20px;

    margin: 2px 0px 0px 5px;
  }

  .prev,
  .next {
    margin: 0px 0px 0px 5px;
  }
}

.container {
  background-color: $bg2;
  padding: 3px 20px;
  border-radius: $border;
  margin: 0 5px;
}

.dashboard_button {
  background-color: $blue;
  color: $bg;
  padding: 3px 20px;
  border-radius: $border;
  margin: 0 5px;

  & > * {
    margin: 0 5px;
  }
}

.menu {
  padding: 4px 20px 6px 13px;
  border-radius: 12px;
  margin: 0 5px;
  font-size: 18px;
}
