.dashboard {
  padding: 15px 10px;
  font-family: "Roboto", sans-serif;

  .powermenu,
  .player,
  .volume {
    box-shadow: 0 0 5px 0 rgba(black, 0.5);
  }

  .powermenu {
    background-color: $bg;
    margin: 8px;

    padding: 13px 18px;
    border-radius: 35px;

    button {
      background-color: $bg2;
      padding: 5px 30px;
      font-size: 30px;
      border-radius: 35px;

      &:hover {
        background-color: lighten($bg2, 7);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .volume {
    background-color: $bg;
    margin: 8px;
    border-radius: $border;
    padding: 10px;
    min-width: 50px;
    border-radius: 35px;

    .metric scale trough {
      min-width: 250px;
    }
  }

  .player {
    background-color: $bg;
    margin: 8px;
    border-radius: 35px;
    padding: 10px;

    button {
      font-size: 24px;
    }

    .cover {
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 70px;
      min-width: 70px;
      margin: 10px 10px 10px 10px;
      border-radius: 15px;
    }
  }
}
