@mixin slider($drop-shadow: true, $color: #fff, $slider: true, $radius: $radius) {
  trough {
    transition: $transition;
    border-radius: $radius;
    background-color: $bg2;
    min-height: 0.4rem;


    highlight,
    progress {
      border-radius: $radius;
      background-color: $color;
    }
  }

  slider {
    box-shadow: none;
    background-color: transparent;
    border: $border-width solid transparent;
    transition: $transition;
    border-radius: $radius;
    min-height: 0.4rem;
    margin: -0.4rem
  }

  &:hover trough {


    slider {
      @if $slider {
        background-color: $fg;

        border-color: rgba(white, 0.03);
        min-height: 10px;

        box-shadow: 0 0 3px 0 #000000;

      }
    }
  }


  trough:focus {
    background-color: transparentize($accent, 0.8);
    box-shadow: inset 0 0 0 $border-width $color;

    highlight,
    progress {
      background-color: transparentize($color, 0.3);
    }

    slider {
      @if $slider {
        background-color: darken($color, 10);
        box-shadow: inset 0 0 0 $border-width $accent;
      }
    }
  }

}