.metric > .icon {
  margin-top: 0px;
  margin: 5px 15px;
}

.metric scale trough highlight {
  all: unset;
  background-color: $blue;
  color: $bg;
  border-radius: 10px;
}

.metric scale.volume trough highlight {
  all: unset;
  background-color: $orange;
  color: $red;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: $bg-alt;
  border-radius: 50px;
  min-height: 15px;
  min-width: 100px;
  margin-left: 20px;
  margin-right: 0px;
}
