.network-indicator {
    font-size: 1rem;
}

.volume-indicator {
    font-size: 1.2rem;
    margin: 0 1.2rem 0 0;
}

.microphone-indicator {
    font-size: 1.2rem;
}

.current-window {
    margin: 0 1rem;
    font-weight: bold;

    .icon {
        margin-right: 0.5rem;
    }
}